<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("./partials/csslibs.ejs") %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" href="/images/title_logo.png" type="image/icon type" />

    <title>DSAlgoViz</title>
  </head>

  <body>
    <%- include("./partials/navbar.ejs", {page: "signup"}) %>

    <main>
      <section class="vh-100">
        <div class="container-fluid h-custom">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-md-8 col-lg-6 col-xl-4">
              <form method="POST" action="/signup">
                <div class="form-outline mb-3">
                  <h1 style="color: #4b50b9">Create an account</h1>
                  <h8 style="color: gray">with a valid email</h8>
                </div>

                <div class="form-outline mb-4">
                  <input
                    required
                    type="text"
                    id="name"
                    name="name"
                    class="form-control form-control-lg"
                    placeholder="Enter your name"
                  />
                  <p style="color: crimson"><%= errors.name %></p>
                  <label class="form-label" for="name"> Name </label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input
                    required
                    type="email"
                    name="email"
                    id="email"
                    class="form-control form-control-lg"
                    placeholder="Enter a valid email address"
                  />
                  <p style="color: crimson"><%= errors.email %></p>
                  <label class="form-label" for="email"> Email address </label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input
                    required
                    type="password"
                    name="password"
                    id="password"
                    class="form-control form-control-lg"
                    placeholder="Enter password"
                  />
                  <p style="color: crimson"><%= errors.password %></p>
                  <label class="form-label" for="password">Password</label>
                </div>

                <p>
                  Already have an account ?<a href="/login" id="myBtn">Login</a>
                </p>

                <div class="d-flex justify-content-center align-items-center">
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button
                      type="submit"
                      class="btn btn-lg"
                      style="
                        padding-left: 2.5rem;
                        padding-right: 2.5rem;
                        color: #eee;
                        background-color: #4b50b9;
                      "
                    >
                      Create
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-"
        >
          <!-- Copyright -->
          <div class="mb-3 mb-md-0" style="color: #4b50b9">
            DSAlgoviz Copyright © 2023. All rights reserved.
          </div>
          <!-- Copyright -->
        </div>
      </section>
    </main>
  </body>
</html>
